*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body{
    height: 100%;
}

main{
    height: 100%;
    background-color: #2C3034;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes animation {
    from{
        transition: all 1s ease;
        height: 0px;
        min-height: 0px;
    }
    to{
        height: 600px;
        min-height: 620px;
    }
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px;
    background: linear-gradient(180deg, #4e5357, #2C3034 70%);
    width: 300px;
    height: 600px;
    min-width: 320px;
    min-height: 620px;
    border-radius: 20px;
    box-shadow: 4px 2px 15px 0px #212325;
    position: relative;
}

#third-display::after{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 10px 10px 0px 0px;
    background-color: #4e5357;
    -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 5%, transparent 100%);
    width: 100%;
    height: 20%;
    z-index: 1;
    border-radius: 20px;
}

.btn-container{
    width: 100%;
    display: grid;
    align-items: end;
    justify-items: end;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3px;
    height: 64px;
    width: 64px;
    color: rgb(174, 174, 174);
    border-radius: 100%;
    border: none;
    background: linear-gradient(300deg,  #444649,#3f4346 50%);
    box-shadow: 2px 2px 4px 0px #212121;
    isolation: isolate;
    position: relative;
    transition: all 0.5s ease;
    font-size: x-large;
}

button::after{
    content: '';
    height: 100%;
    width: 100%;
    border-radius: inherit;
    box-shadow: -1px -1px 0px 0px #687077;
    position: absolute;
    inset: 0;
    z-index: -1;
    transition: all 0.5s ease;
}

button:hover{
    transform: scale(1.1);
}

button:hover::after{
    box-shadow: 0px 0px 5px 0px #212121;
}

h1, p{
    align-self: self-end;
    font-size: xx-large;
    overflow: hidden;
}

h1{
    height: 10%;
    font-size: 50px;
    color: rgb(202, 202, 202);
    padding-bottom: 5px;
}

p{
    color: rgb(146, 146, 146);
    height: 5%;
}

.equal{
    grid-row: 5/7;
    grid-column: 4/5;
    height: 100%;
    border-radius: 10px;
    font-size: 2.5em;
    background: linear-gradient(0deg, rgb(103, 1, 162) 5%, rgb(94, 0, 112) 80%);
}

.add{
    grid-column: 4/5;
    grid-row: 4/5;
}

.del{
    grid-column: 3/4;
    grid-row: 5/7; 
    padding-right: 3px;
}

.dot{
    grid-column: 1/2;
    grid-row: 6/7;
}

.clear{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    background: linear-gradient(0deg, orange);
    text-shadow: 0px 0px 10px white;
    font-weight: bold;
    grid-column: 1/2;
    grid-row: 2/3;
}

.left-par{
    grid-column: 2/3;
    grid-row: 2/3;
    background: linear-gradient(0deg, rgba(255, 166, 0, 0.157));
    backdrop-filter: blur(5px);
    color: rgba(218, 157, 45, 0.811);
}   

.right-par{
    grid-column: 3/4;
    grid-row: 2/3;
    background: linear-gradient(0deg, rgba(255, 166, 0, 0.157));
    color: rgba(218, 157, 45, 0.811);
}

.add, .subtract, .divide, .multiply{
    transition: all 0.5s ease;
    background: linear-gradient(0deg, rgba(255, 26, 251, 0.157));
    color: rgba(255, 26, 251, 0.556);
}

button:active{
    color: rgb(244, 243, 243);
    background: linear-gradient(300deg,  #444649,#3f4346 50%);
    box-shadow: 1px 1px 2px 0px #212121;
    transition: all 0.1s ease-in-out;
    transform: scale(1);
}

.add{
    grid-column: 4/5;
    grid-row: 4/5;
}

.subtract{
    grid-column: 4/5;
    grid-row: 3/4;
}

.divide{
    grid-column: 4/5;
    grid-row: 2/3;
}

.multiply{
    grid-column: 4/5;
    grid-row: 1/2;
}

.button0{
    grid-column: 2/3;
    grid-row: 6/7;
}

.button1{
    grid-column: 1/2;
    grid-row: 5/6;
}

.button2{
    grid-column: 2/3;
    grid-row: 5/6;
}

.button3{
    grid-column: 3/4;
    grid-row: 5/6;
}

.button4{
    grid-column: 1/2;
    grid-row: 4/5;
}

.button5{
    grid-column: 2/3;
    grid-row: 4/5;
}

.button6{
    grid-column: 3/4;
    grid-row: 4/5;
}

.button7{
    grid-column: 1/2;
    grid-row: 3/4;
}

.button8{
    grid-column: 2/3;
    grid-row: 3/4;
}

.button9{
    grid-column: 3/4;
    grid-row: 3/4;
}