*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    list-style-type: none;
    text-decoration: none;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    width: 100%;
    height: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    aspect-ratio: 1.5 / 1;
    width: 40%;
    padding: 1%;
    background-color: rgb(202, 202, 202);
    box-shadow: 0px 0px 10px 0px rgb(80, 80, 80);
    border-radius: 2%;
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    -ms-border-radius: 2%;
    -o-border-radius: 2%;
}

h1{
    width: 80%;
    margin-top: 10%;
    font-size: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

textarea{
    font-size: larger;
    height: 50%;
    width: 80%;
    border-radius: 2%;
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    -ms-border-radius: 2%;
    -o-border-radius: 2%;
    resize: none;
    padding: 1%;
    background-color: aliceblue;
}

textarea:focus{
    outline: none;
}

#character-count-container{
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: space-between;
}