*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    list-style-type: none;
    text-decoration: none;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    width: 100%;
    height: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 300px;
    padding: 1%;
    background-color: rgb(202, 202, 202);
    box-shadow: 0px 0px 10px 0px rgb(80, 80, 80);
    border-radius: 2%;
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    -ms-border-radius: 2%;
    -o-border-radius: 2%;
}

h1{
    width: 80%;
    margin-top: 10%;
    font-size: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

textarea{
    font-size: larger;
    height: 30%;
    width: 80%;
    border-radius: 2%;
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    -ms-border-radius: 2%;
    -o-border-radius: 2%;
    resize: none;
    padding: 1%;
    background-color: aliceblue;
}

textarea:focus{
    outline: none;
}

#character-count-container{
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    color:rgb(71, 71, 71);
}

.remaining-char{
    display: inline-block;
    color: red;
    animation: popUp 0.5s ease both;
    animation-fill-mode: both;
    -webkit-animation: popUp 0.5s ease both;
}

.total-char{
    display: inline-block;
    color: blue;
    animation: popUp 0.1s ease both;
    animation-fill-mode: both;
    -webkit-animation: popUp 0.1s ease both;
}

@keyframes popUp {

    from{
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
}
    to{
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
}
}

#limit-reached{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: red;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    animation: fadeIn 0.5s ease both;
    animation-fill-mode: both;
    -webkit-animation: fadeIn 0.8s ease both;
    display: none;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}