* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
body {
	background-color: gray;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

input {
	color: white;
	font-size: 20px;
	font-weight: bold;
	background-color: black;
	height: 25px;
    width: 200px;
    margin: 50px 0px;
	padding: 4px 5px;
	border-radius: 4px;
    border: none;
}

h4{
    padding: 7px 5px;
    border-radius: 4px;
    height: 30px;
    background-color: black;
    color: gray;
}

#display-btn {
	margin-top: 30px;
	padding: 5px 20px;
	border-radius: 5px;
	outline: none;
	border: 0.4px solid black;
	transition: all 0.5s ease;
}

#display-btn:hover {
	transform: scale(1.1);
	color: white;
	background-color: black;
	border-color: white;
}

