*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,body{
    height: 100%;
}

main{
    background-color: gray;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.button1, .button2, .button3 {
    font-size: 1.5em;
    border-radius: 5px;
    color: whitesmoke;
    border: 1px solid black;
    padding: 15px 40px;
    background-color: crimson;
    /* transition: color 0.5s ease; */
    transition: all .5s ease;
}

.button:hover{
    color: black;
    cursor: pointer;
    transform: scale(1.2);
}