* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body{
    height: 100vh;
    width: 100%;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(231, 231, 0);
}

input{
    font-family: serif;
    border: none;
    padding: 10px;
    font-size: 1.5em;
    display: inline-block;
    height: 5vw;
    width: 35vw;
    border-radius: 15px 15px 0px 0px;
    margin-top: 10%;
    box-shadow: 0px 3px 5px 0px rgb(162, 162, 0);
    transition: all 0.5s ease both;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease both;
    -ms-transition: all 0.5s ease both;
    -o-transition: all 0.5s ease both;
    -webkit-border-radius: 15px 15px 0px 0px;
    -moz-border-radius: 15px 15px 0px 0px;
    -ms-border-radius: 15px 15px 0px 0px;
    -o-border-radius: 15px 15px 0px 0px;
}

input:focus{
    border: none;
    outline: none;
    transform: scale(0.95);
    -webkit-transform:;
    -moz-transform:;
    -ms-transform:;
    -o-transform:;
}

input::placeholder{
    color: rgb(219, 219, 219);
}