* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: rgb(168, 168, 168);
  font-size: larger;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 600px;
  min-width: 650px;
  border-radius: 10px;
  background-color: rgb(239, 236, 236);
  box-shadow: 0px 0px 20px 1px rgb(84, 84, 84);
  user-select: none;
}

h1{
    font-size: 2.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#per-input,
#bill-input{
  width: 90%;
  height: 40px;
  font-size: 30px;
  padding: 10px 10px;
  transition: all 0.5s ease;
  border: none;
  outline: 1px solid black;
  caret-color: red;
}

#per-input:focus, #bill-input:focus{
    box-shadow: 0px 0px 1px 2px black;
    animation: smooth-caret 1s ease infinite;
    animation-fill-mode: backwards;
}

@keyframes smooth-caret {
    from{
        caret-color: red;
    }
    to{
        caret-color: transparent;
    }
}

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

label{
    width: 90%;
    text-align: left;
}

button{
    margin-top: 2%;
    padding: 10px 0px;
    width: 90%;
    font-size: x-large;
    background-color: greenyellow;
    transition: all 0.5s ease, transform 0.2s ease;
    border: 1px solid black;
    border-radius: 2px;
}

button:hover{
    transform: scale(1.05);
    background-color: rgb(0, 255, 0);
}

button:active{
    transform: scale(1);
    background-color: greenyellow;
}
